<!-- Modal -->
<div id="inputModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Input files format</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p>Supported file formats: plain text files (comma-separated, tab-separated, semicolon-separated).
          <br><br>
            The first line (header) is assumed to be column names. If your file doesn't have a header,
            conDE will automatically name them sample-1, sample-2, etc.
          <br><br>
            First column will be assumed to be the name of the genes (or features) to be analyzed.
          <br><br><b>IMPORTANT:</b> Remaining columns should be integers as Differential Expression packages expect a count matrix.
            <br><br>
            You can download an example <a href="{{ example_matrix }}" download>file here</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{#            Button     #}

{#       <a  href="#" data-toggle="modal" data-target="#myModal" class="btn btn-link"><i class="fa fa-question-circle"> </i></a>         #}
