{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <style>

                    .modal {
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      overflow: hidden;
                      refresh: true;

                    }

                    .modal-dialog {
                      position: fixed;
                        max-width: 100%;
                        overflow-y: initial !important;
                      margin: 0;
                      width: 100%;
                      height: 100%;
                      padding: 0;
                    }

                    .modal-content {
                      position: absolute;
                        overflow-y: auto;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      border: 2px solid #3c7dcf;
                      border-radius: 0;
                      box-shadow: none;
                    }
                </style>

            {# View Large modal                #}

                <div class="modal fade" id="hmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel2"></h4>
                      </div>
                      <div class="modal-body" id="view_body">
                        <div class="row row-grid">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10" >
                                <div id="#intersect_div2">
                                    <iframe src="{{ plot_url }}" width="100%" id="heatmap2" height="750" allowfullscreen></iframe>
                                </div>

                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
{#                        <button type="button" class="btn btn-primary">Save changes</button>#}
                      </div>
                    </div>
                  </div>
                </div>


            {# View Large modal END                #}


{#                <h1 class="page-header">Results for your job: {{ job_id }}</h1>#}
            </div>
            <!-- /.col-lg-12 -->
        </div>

            <div class="row">
                <div class="col-lg-12">
                    <br>
                 <div class="card shadow">
                <div class="card-header py-12">
                  <h6 class="m-0 font-weight-bold text-primary">Title and groups</h6>


                </div>
                <div class="card-body">
                        <div class="row">
                        <div class="col-lg-5">
                            <label for="id_FC" class="control-label ">
                    Title:
                    </label>  <input type="text" value="" id="id_title" name="parameter" size="30" style="padding-right: 8px;"/>
                        </div>

                         {% if group1_name %}
                        <div class="col-lg-3">
                            <input type="text"  id="id_group1" value="{{ group1_name }}" name="parameter" size="30" style="padding-right: 8px;"/>
                        </div>
                            <div class="col-lg-1">
                                <h4 align="center">vs</h4>
                            </div>
                       <div class="col-lg-3">
                             <input type="text" id="id_group2" value="{{ group2_name }}" name="parameter" size="30" style="padding-right: 8px;"/>
                        </div>

                            {% endif %}

                    </div>
                </div>

              </div>
                </div>
            </div>
        <br>

            <div class="row">
                <div class="col-lg-3">

                    <div class="card shadow">
                <div class="card-header py-12">
                  <h6 class="m-0 font-weight-bold text-primary">Parameters</h6>
                </div>
                <div class="card-body">
                        <div class="row">
                        <div class="col-lg-12">
                            <label for="id_FC" class="control-label ">
                    Number of genes: </label>  <input type="text" name="parameter" style="float: right;" value="" id="id_ntop" size="4" style="padding-right: 1px;"/>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="id_plot"  class="control-label ">
                                Sort by:
                                </label>
                        </div>
                        <div class="col-lg-8">
                            <input type="hidden" name="parameter" id="sort" value="average"/>
                            <select class="form-control select" id="id_sort" onchange="sortBy(event)">
                                <option value="file">File Order</option>
                                <option value="average">Expression</option>
                                <option value="CV">Variation (CV)</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="id_plot"  class="control-label ">
{#                                Plot type:#}
                                </label>
                        </div>
                        <div class="col-lg-8">
                            <input type="hidden" name="parameter" id="descending" value="true"/>
                            <select class="form-control select" id="id_ascending" name="id_plot" onchange="sortSense(event)">
                                <option value="true">Descending</option>
                                <option value="false">Ascending</option>
                            </select>
                        </div>
                    </div>

                    {% if addFC %}
                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <label for="id_FC" class="control-label ">
                    Minimum Fold Change: </label>  <input type="number" value="1" name="parameter" id="id_FC" size="4" min="0" step="0.1" style="padding-right: 8px; width: 60px;" onkeypress="return event.charCode != 45"/>
                        </div>

                    </div>
                        <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="id_FC" class="control-label ">
                                Use:</label>  </div>
                            <div class="col-lg-8">
                            <select class="form-control select" id="id_set">
                        <option value="All">All DE genes</option>
                        <option value="Over">Overexpressed</option>
                        <option value="Under">Underexpressed</option>
                    </select>
                        </div>
                        </div>

                    {% endif %}

                    {% if addpval %}
                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <label for="id_FC" class="control-label ">
                    P-value: </label>  <input type="number" value="0.05" style="float: right;" name="parameter" id="id_pval" min="0" max="1" step="0.01" size="4" style="padding-right: 8px; width: 60px;" onKeyUp="if(this.value>1){this.value='1';}"/>
                        </div>

                    </div>
                    {% endif %}


                <div class="row mt-2">
                        <div class="col-lg-5">

                        </div>

                        <div class="col-lg-7">

                            <input type="hidden" name="job_id" id="job_id" value="{{ job_id }}">
                            <input type="hidden" name="consensus" id="consensus" value=true>
                             <button type="button"  id="consensus_plot_button" class="btn btn-primary" onClick="window.location.reload();">Restart plot</button>


                        </div>
                    </div>

                </div>

              </div>

                </div>
                <div class="col-lg-9" id="hm_div">
                    <p style="text-align: center;"> <a href="javascript:void(0)"  id="large1" data-toggle="modal" data-target="#hmModal" style="text-align: center;">  View large <i class="fa fa-search-plus fa-fw"></i></a></p>
                <iframe src="{{ plot_url }}" width="100%" id="heatmap" height="800" allowfullscreen></iframe>
                    <p style="text-align: center;"> <a href="javascript:void(0)"  id="large2" data-toggle="modal" data-target="#hmModal" style="text-align: center;">  View large <i class="fa fa-search-plus fa-fw"></i></a></p>
            </div>
            </div>

        <br>





    </div>
{% endblock %}

{% block js %}

    <script>
        function refresh_image(img_id) {
    var old_source = document.getElementById(img_id).src,
        timestamp = (new Date()).getTime(),
        newUrl = old_source + '?_=' + timestamp;

    document.getElementById(img_id).src =  newUrl;
}

    </script>

    <script>

    function sortBy(e) {

    document.getElementById("sort").value = e.target.value;
         updatePlot();
};
    function sortSense(e) {

    document.getElementById("descending").value = e.target.value;
         updatePlot();
};

    </script>

    <script>
function showTab(element)  {
    var tabContents = document.getElementsByClassName('tab-pane');
    for (var i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = 'none';
    }
    // change tabsX into tabs-X in order to find the correct tab content
    document.getElementById(element).style.display = 'block';
    {#alert(element);#}
    return true;
}

    </script>

    <script src="{% static 'js/jquery-3.1.0.min.js'%}"></script>


    <script>
    $(document).ready(function() {
        $("#hmModal").on('hidden.bs.modal', function () {
            $("#hmModal").removeData();
            alert("hello");

        });

    });

    </script>


<script>
    function updatePlot() {
        {#alert("lala");#}
        var image_div = $('#hm_div');
        image_div.fadeOut(5000);
        $.ajax({
        url: '{% url "pca_recalc" %}',
        {#type: 'POST',#}
        data: {
            'title': $('#id_title').val(),
            'group1_name': $('#id_group1').val(),
            'group2_name': $('#id_group2').val(),
            'ntop': $('#id_ntop').val(),
            'sortBy': $('#sort').val(),
            'sortSense': $('#descending').val(),
            'pval': $('#id_pval').val(),
            'FC': $('#id_FC').val(),
            'set': $('#id_set').val(),
            {#'pval': pval,#}
            {#'methods': methods.toString(),#}
            {#'set': iset,#}
            "id" : "{{ job_id }}",

        },
        dataType: 'json',
        success: function (data) {
            image_div.stop();
            setTimeout(function(){
                var iFrame = $('#heatmap');
                var iFrame2 = $('#heatmap2');
                {#iFrame.load(data.new_url);#}
                iFrame.attr('src', data.new_url);
                iFrame2.attr('src', data.new_url);
                $("#hm_div").html($("#hm_div").html());
                }
                , 1);
            $("#hm_div").html($("#hm_div").html());
            image_div.fadeIn(10);




            }
      });
            }

    $('input[name="parameter"]').change(function () {
        updatePlot();
    })



</script>

{% endblock %}