{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Results for your job: {{ job_id }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

            <div class="row">
                <div class="col-lg-12">
                    <br>
                 <div class="card shadow">
                <div class="card-header py-12">
                  <h6 class="m-0 font-weight-bold text-primary">Titles</h6>


                </div>
                <div class="card-body">
                        <div class="row">
                        <div class="col-lg-6">
                            <label for="id_title" class="control-label ">
                    Title:
                    </label>  <input type="text" value="" id="id_title" name="parameter" size="30" style="padding-right: 8px;"/>
                        </div>

                    </div>
                </div>

              </div>
                </div>
            </div>
        <br>

            <div class="row">
                <div class="col-lg-3">

                    <div class="card shadow">
                <div class="card-header py-12">
                  <h6 class="m-0 font-weight-bold text-primary">Parameters</h6>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <label for="id_FC" class="control-label ">
                    Log2(FC) threshold </label>  <input type="text" name="parameter" value="" id="id_FC" size="4" style="padding-right: 1px;"/>
                        </div>
                    </div>

                        <div class="row">
                        <div class="col-lg-12">
                            <label for="id_pval" class="control-label ">
                    p-value threshold: </label>  <input type="text" name="parameter" value="" id="id_pval" size="4" style="padding-right: 1px;"/>
                        </div>
                    </div>


                </div>

              </div>

                </div>
                <div class="col-lg-9" id="hm_div">
                <iframe src="{{ volcano_url }}" width="100%" height="800" id="volcano" style="border:2px solid;" allowfullscreen></iframe>
            </div>
            </div>

        <br>





    </div>
{% endblock %}

{% block js %}

    <script>
        function refresh_image(img_id) {
    var old_source = document.getElementById(img_id).src,
        timestamp = (new Date()).getTime(),
        newUrl = old_source + '?_=' + timestamp;

    document.getElementById(img_id).src =  newUrl;
}

    </script>

    <script>
function showTab(element)  {
    var tabContents = document.getElementsByClassName('tab-pane');
    for (var i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = 'none';
    }
    // change tabsX into tabs-X in order to find the correct tab content
    document.getElementById(element).style.display = 'block';
    {#alert(element);#}
    return true;
}

    </script>

    <script src="{% static 'js/jquery-3.1.0.min.js'%}"></script>




<script>
    function updatePlot() {
        {#alert("eo");#}
        var image_div = $('#hm_div');
        image_div.fadeOut(5000);
        $.ajax({
        url: '{% url "volc_recalc" %}',
        {#type: 'POST',#}
        data: {
            'title': $('#id_title').val(),
            'pval': $('#id_pval').val(),
            'FC': $('#id_FC').val(),
            {#'pval': pval,#}
            {#'methods': methods.toString(),#}
            {#'set': iset,#}
            "id" : "{{ job_id }}",

        },
        dataType: 'json',
        success: function (data) {
            {#alert(data.new_url);#}
            image_div.stop();
            setTimeout(function(){

                var iFrame = $('#volcano');
                {#iFrame.load(data.new_url);#}
                iFrame.attr('src', data.new_url);



                }
                , 1);
            $("#hm_div").html($("#hm_div").html());
            image_div.fadeIn(10);




            }
      });
            }

    $('input[name="parameter"]').change(function () {
        updatePlot();
    })



</script>

{% endblock %}